body {
  font-family: 'Lato', Geneva, sans-serif;
  font-weight: 300;
  margin: 0;
  background-color:rgba(190,197,221,0.7);
}

.header {
  position: fixed;
  top: 0;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  background-color:rgba(0,0,0,0.4);
  color: white;
}

.fixed-content {
  padding: 0;
  height: 100%;
}

.title {
  font-size: 28px;
}

.menu {
  padding: 20px 12px;
  box-sizing: border-box;
}

/* Needs to be an ID to override classes in other files*/
#first-item {
  padding-top: 70px;
}

.selected {
  font-weight: 400;
}

.menu-section {
  display: inline-block;
  width: 49%;
}

@media (max-width: 500px) {
  .menu {
    padding: 12px;
  }
  
  .menu-section:first-of-type {
    padding-bottom: 8px;
  }
  
  .menu-section:last-of-type {
    padding-top: 8px;
  }

  .menu-section {
    width: 100%;
  }
  
  #first-item {
    padding-top: 86px;
  }
}

.home-page.header {
  padding-bottom: 12px;
}

.home-page .menu {
  padding-bottom: 8px;
}

.menu-item {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  width: 24%;
}

.hero-image {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}
