body {
  font-family: 'Lato', Geneva, sans-serif;
  font-weight: 300;
  margin: 0;
  background-color:rgba(190,197,221,0.7);
}

.header {
  position: fixed;
  top: 0;
  text-align: center;
  padding: 8px 12px 12px 12px;
  box-sizing: border-box;
  width: 100%;
  background-color:rgba(0,0,0,0.3);
  color: white;
}

.title {
  font-size: 28px;
}

#menu {
  padding-bottom: 8px;
  box-sizing: border-box;
}

.menu-item {
  display: inline-block;
  width: 13%;
  color: #fff;
  text-decoration: none;
}

.hero-image {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}
