body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0;
  background-color:rgba(190,197,221,0.7);
}

#title {
  position: fixed;
  width: 100%;
  background-color:rgba(256,256,256,0.3);
  padding: 16px;
  color: white; 
  font-size: 28px;
}

#hero-image {
  max-width: 100%;
}
