body {
  background-color: rgba(0,42,103,1);
}

.menu {
  padding: 8px 12px;
  background-color: rgba(0,0,0,0.2);
}

.content {
  width: 50%;
  padding: 40px 12px 12px 56px;
  text-align: left;
  color: #fff;
}