body {
  background-color: rgba(0,42,103,1);
}

.fixed-content {
  padding: 0;
}

.content {
  padding-top: 40px;
}

#menu > a {
  width: 11%;
}

#menu {
  padding: 12px;
}

.menu-section {
  display: inline-block;
  width: 49%;
}

.menu-item {
  width: 24%;
}

@media (max-width: 500px) {
  .menu-section {
    width: 100%;
  }
}

img {
  max-width: 100%;
}

.img-portrait {
  display: block;
}

.img-landscape {
  display: none;
}

@media (orientation: landscape) {
  .img-portrait {
    display: none;
  }
  .img-landscape {
    display: block;
  }
}

.content-container {
  position: fixed;
  top: 43px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.2);
}

.content {
  width: 50%;
  padding: 12px;
  color: #fff;
}