body {
  background-color: rgba(0,42,103,1);
}

.menu {
  padding: 12px;
  background-color: rgba(0,0,0,0.2);
}

.content-container {
  position: fixed;
  top: 43px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.2);
}

.content {
  width: 50%;
  padding: 12px;
  color: #fff;
}