.header {
  z-index: 2;
  background-color: #444;
  height: auto;
  padding: 8px 12px;
}

.text {
  text-align: start;
  padding: 40px 12px 8px 12px;
  color: #000;
  font-size: 13px;
  position: relative;
  z-index: 1;
}

@media (max-width: 500px) {
  .text {
    padding-top: 58px;
  }
}

@media (min-width: 900px) {
  .text {
    margin: 50px;
    line-height: 1.6em;
  }
}

.text > div:not(:last-of-type) {
  padding-bottom: 6px;
}

.bold {
  font-weight: 400;
  font-color: #000;
}

ul {
  margin-left: -20px;
}

.background-image {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center center;
}

.white-out {
  width: 100%;
  height: 100%;
  background-color: rgba(256,256,256,0.7);
}