body {
  background-color: rgba(72,122,203,1);
}

.header {
  z-index: 1;
}

.menu {
  padding: 12px;
  background-color: rgba(0,0,0,0.2);
}

img {
  position: fixed;
  bottom: 0;
  max-width: 100%;
}

.text {
  text-align: start;
  padding: 8px 12px;
}

ul {
  margin-left: -20px;
}