.menu {
  z-index: 1;
  background-color: rgba(0,0,0,0.7);
}

.content {
  padding: 40px 12px 12px 12px;
  text-align: center;
}

@media (max-width: 500px) {
  .content {
    padding-top: 58px;
  }
}

.photo-container {
  width: 49%;
  display: inline-block;
  padding: 4px;
  box-sizing: border-box;
  position: relative;
}

@media (min-width: 600px) {
  .photo-container {
    width: 24%;
  }
}

@media (min-width: 1000px) {
  .photo-container {
    width: 16%;
  }
}

.photo-container img {
  width: 100%;
}

.photo-container div {
  position: absolute;
  bottom: 6px;
  left: 4px;
  right: 4px;
  padding: 4px;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  font-size: 24px;
}

.description {
  display: none;
  z-index: 2;
  padding: 20px;
}

#overlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 1;
}