.menu {
  z-index: 1;
  background-color: rgba(0,0,0,0.7);
}

.content {
  padding: 40px 12px 12px 12px;
  text-align: center;
}

@media (max-width: 500px) {
  .content {
    padding-top: 58px;
  }
}

.photo-container {
  width: 49%;
  display: inline-block;
  padding: 4px;
  box-sizing: border-box;
  position: relative;
}

@media (min-width: 600px) {
  .photo-container {
    width: 24%;
  }
}

@media (min-width: 1000px) {
  .photo-container {
    width: 16%;
  }
}

.photo-container img {
  width: 100%;
}

.name {
  position: absolute;
  bottom: 6px;
  left: 4px;
  right: 4px;
  padding: 4px;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  font-size: 24px;
}

#overlay {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
   
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  z-index: 1;
}

#overlay.hidden {
  display: none;
}

#description {
  padding: 20px;
  background-color: #fff;
  max-width: 600px;
}