.menu {
  z-index: 1;
  background-color: rgba(0,0,0,0.7);
}

.content {
  padding: 12px;
  text-align: center;
}

.photo-container {
  width: 49%;
  display: inline-block;
  padding: 4px;
  box-sizing: border-box;
  position: relative;
}

.photo-container:hover {
 cursor: pointer;
 opacity: 0.4;
}

@media (min-width: 600px) {
  .photo-container {
    width: 24%;
    padding-top: 24%;
  }
}

@media (min-width: 800px) {
  .photo-container {
    width: 19%;
    padding-top: 19%;
  }
}

@media (min-width: 1300px) {
  .photo-container {
    width: 14%;
    padding-top: 14%;
  }
}

.photo-grid-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(256,256,256,0.4);
}

.photo-container .name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4px;
  color: #fff;
  background-color: rgba(0,0,0,0.7);
  font-size: 24px;
}

#overlay {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
   
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  z-index: 1;
}

#overlay.hidden {
  display: none;
}

.description-container {
  max-height: 100%;
  overflow-y: scroll;
}

#description {
  padding: 20px;
  background-color: #fff;
  max-width: 600px;
}

.description-title {
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 4px;
}

@media (min-width: 900px) {
  #description {
    padding: 50px;
    font-size: 22px;
    line-height: 1.5em;
  }
  
  .description-title {
    font-size: 24px;
  }
}