body,
.content {
  background-color: rgb(197, 203, 225);
}

body {
  border-bottom: 4px solid rgb(197, 203, 225);
}

#first-item {
  margin-top: 58px;
  padding-top: 0;
}

.content {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  border: 4px rgb(197, 203, 225);
  border-style: solid solid none solid;
}

.content > div {
  background-color: rgb(190,197,221);
}

.photo-container {
  width: 100%;
  padding-top: 100%;
  border: 8px solid rgba(256,256,256,0.1);
}

.photo-container.results-year-container {
  opacity: 1;
}

.results-year {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -60px;
  font-size: 100px;
  color: #fff;
  text-shadow: 0 0 3px #888;
}

div.results-shown {
  display: inline-block;
}


/* Media queries */

@media (min-width: 600px) {
  .photo-container {
    width: 50%;
    padding-top: 50%;
  }
}

@media (min-width: 1000px) {
  .photo-container {
    width: 33.33%;
    padding-top: 33.33%;
  }
}

/* End media queries */
