body {
  background-color: rgb(80,177,214);
}

.menu {
  z-index: 1;
}

img {
  max-width: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
}

.text {
  padding: 40px 12px 8px 12px;
  font-size: 13px;
  word-break: break-word;
}

@media (max-width: 500px) {
  .text {
    padding-top: 58px;
  }
}

@media (min-width: 900px), (orientation: portrait) {
  .text {
    margin: 50px;
    line-height: 1.6em;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  .text {
    width: 50%;
  }
}

.link {
  text-decoration: none;
  font-weight: 400;
  color: #000;
}